$font: 10;
$white: white;
$green: #01814a;
$green_one: #006030;
* {font-size: $font + 4px}
i {display: inline-block}
a {text-decoration: none;color:$white}
.article_button {
  text-align: center;
  cursor: pointer;
}
.article_one {
  display:flex;
  margin-bottom: $font + 0px;
  padding: $font + 0px;
  background: $white;
  width: $font * 10% ;
  box-shadow: 0 1px 2px 0 #e2e2e2;
  .article_left {
    flex: $font * 22px;
    height:$font * 15px;
    margin-right: $font + 0px;
  }
  .article_right {
    flex:100;
     height:$font * 15px;
     .article_right_top {
       font-size: $font + 6px;
       font-size: 18px;
       color:$green;
       margin-bottom: 6px;
         font-weight: bold;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
     }
     .article_right_body {
       width:100%;
       height:80px;
       display: -webkit-box; 
      text-overflow: ellipsis;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
     }
    
  }
}

//媒体查询
@media (max-width: 768px) {
  .article_left {
  display: none;
}
}
@media (min-width: 510px) {
   .article_right_bottom {
       width:$font * 10%;
        margin-top: $font + 0px;
       display:flex;
       .article_right_bottom_left {
         flex: 3;
         display: flex;
         .icon_one,.icon_two,.icon_three {
           position: relative;
           display: inline-block;
           flex: 1;
           margin-right: $font + 0px;
         }
         .icon_one>span,.icon_two>span,.icon_three>span {
           position:absolute;
           top:4px;
           margin-left:4px;
         }
       }
       .article_right_bottom_right {
         flex: 1;
         position: relative;
         .article_button {
           color:$white;
           background: $green;
           padding: 6px 8px 6px 8px;
           border-radius: $font - 4px;
           position: absolute;
           bottom: -2px;
           right: 4px;
           transition: background 1s;
         }
         .article_button:hover {
           background: $green_one;
         }
       }
     }
}



@media (max-width: 510px) {
.article_one {height:220px}
 .article_right_bottom {
       width:$font * 10%;
        margin-top: $font + 0px;
       .article_right_bottom_left {
         display: flex;
         .icon_one,.icon_two,.icon_three {
           position: relative;
           display: inline-block;
           flex: 1;
           margin-right: $font + 0px;
         }
         .icon_one>span,.icon_two>span,.icon_three>span {
           position:absolute;
           top:4px;
           margin-left:4px;
         }
       }
       .article_right_bottom_right {
         width:100%;
         margin-top:10px;
         height:$font * 3px;
         line-height: $font * 3px;
         .article_button {
           color:$white;
           background: $green;
           width:100%;
           height:100%;
           border-radius: $font - 4px;
          
           transition: background 1s;
         }
         .article_button:hover {
           background: $green_one;
         }
       }
     }
}
@media(max-width: 400px) {
.article_right_bottom {
       width:$font * 10%;
        margin-top: $font + 0px;
       .article_right_bottom_left {
         display: flex;
         .icon_one {
           position: relative;
           display: inline-block;
           flex: 50px;
           margin-right: $font + 0px;
         }
         .icon_two,.icon_three {
           position: relative;
           display: inline-block;
           flex: 5;
           margin-right: $font + 0px;
         }
         .icon_one>span,.icon_two>span,.icon_three>span {
           position:absolute;
           top:4px;
           margin-left:4px;
         }
       }

     }
}


.sortDate {
  width:100%;
  box-shadow: 0 1px 2px 0 #e2e2e2;
  background:white;
  line-height: 30px;
  height:30px;
  margin-bottom:10px;
  .sortDate_left {
    margin-left:10px;
    float: left;
  }
  .sortDate_right {
     float: right;
     margin-right:10px;
     .sortIcon {
      margin-top:4px;
     }
  }
}
.sortDate_siblings {
  // display:none;
  text-align:center;
  width:100%;
  box-shadow: 0 1px 2px 0 #e2e2e2;
  background:white;
  line-height: 50px;
  height:50px;
  margin-bottom:10px;
  span {
    font-size:18px;
    .red {
      color:red;
      font-size::18px;
    }
  }
}
.pages_list {
  width:100%;
  margin-top:16px;
  position: relative;
  .pages_children {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
  }
}
