 .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #01814a;
    border-color: #01814a;
}
.pagination>li>a {
    color: #01814a;
} 